API_KEY=changeme
CALLBACK_URL=https://platform-integrator.transtrack.co/cloud-result
RECORDS_DIR=./records
VIDEO_DOWNLOAD_TIMEOUT=60
HTTPX_TIMEOUT=30
KEEP_TMP_VIDEOS=False

TRANSTRACK_BASE_URL=https://
TRANSTRACK_USERNAME=
TRANSTRACK_PASSWORD=
