CALLBACK_URL=https://platform-integrator.transtrack.co/cloud-result
RECORDS_DIR=./records
VIDEO_DOWNLOAD_TIMEOUT=60
HTTPX_TIMEOUT=30
KEEP_TMP_VIDEOS=False

MODEL_PATH=models/classifier/best_val_f1.pth
MODEL_NAME=MultiScaleTCN
MODEL_DOWNLOAD_URL=

REDIS_URL=redis://localhost:6379/0
WORKER_CONCURRENCY=2
MAX_QUEUE_SIZE=5000
